* {
  box-sizing: border-box;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 30px;
}

form {
  width: 100%;
  margin: 30px;
  padding: 40px;
  background: var(--white);
  border: 2px solid var(--orange);
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--orange);
}

.input-name,
.input-email,
.input-subject,
.input-message {
  display: block;
  margin-bottom: 30px;
  margin-top: 16px;
}

.form-error {
  display: none;
  color: red;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
}

.submit-success {
  display: none;
  color: var(--green);
}

.contact-submit {
  border: none;
  background-color: var(--orange);
  color: var(--black);
  padding: 10px;
  margin-top: 16px;
  cursor: pointer;
  width: 150px;
}

@media only screen and (min-width: 768px) {
  form {
    max-width: 700px;
  }
}
