.exhibition-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* COSMOLOGY */
.cosmology,
.evolution {
  max-width: 300px;
  text-align: center;
  margin: 30px;
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .exhibition-container {
    flex-direction: row;
  }

  .cosmology {
    max-width: 600px;
    background-color: transparent;
  }

  .cosmology-p {
    float: right;
  }

  .cosmology-img {
    float: left;
  }
}
