.explore-p {
  margin-bottom: 20px;
}

.explore-img {
  max-width: 300px;
}

.explore-img1,
.explore-img2 {
  max-width: 150px;
  margin: 5px;
}

.explore-img-research {
  display: flex;
  justify-content: center;
}

.explore-box {
  max-width: 300px;
}

.explore-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/*Breadcrumb Navigation - Explore pages*/
ul.breadcrumbs-explore {
  margin: 20px;
}

ul.breadcrumbs-explore li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumbs-explore li + li:before {
  padding: 5px;
  color: var(--black);
  content: "/";
}

ul.breadcrumbs-explore li a {
  color: var(--black);
  text-decoration: none;
}

ul.breadcrumbs-explore li a:hover {
  text-decoration: underline;
}

ul.breadcrumbs-explore .highlighted {
  color: var(--orange);
}

@media only screen and (min-width: 768px) {
  .explore-box {
    max-width: 700px;
  }
}
