.explore-p {
  margin-bottom: 20px;
}

.explore-img {
  max-width: 300px;
}

.explore-img1,
.explore-img2 {
  max-width: 150px;
  margin: 5px;
}

.explore-img-research {
  display: flex;
  justify-content: center;
}

.explore-box {
  max-width: 300px;
}

.explore-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.explore-sidebar {
  margin: 15px;
  padding: 0;
}

.explore-sidebar a {
  display: inline-block;
  color: #000000;
  padding: 1px;
  text-decoration: none;
  font-size: 18px;
}

.explore-sidebar a:hover {
  color: #ff8c1a;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .explore-box {
    max-width: 700px;
  }
}
