/* NAVIGATION */
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 50px 0 0;
  font-family: Helvetica, sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: white;
}

.logo {
  max-height: 100px;
}

.nav {
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.nav-list {
  margin: 0 50px 0 0;
  font-size: 26px;
  text-align: center;
}

.nav-list a {
  text-decoration: none;
  color: black;
  margin: 0 50px;
  line-height: 100px;
}

.nav-list a:hover {
  color: #ff8c1a;
}

label {
  margin: 0 50px 0 0;
  font-size: 26px;
  line-height: 100px;
  display: none;
}

#hamburger-menu {
  display: none;
}

/* MAIN */

.hero {
  max-width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 130%;
  left: 40%;
}

@media only screen and (max-width: 768px) {
  label {
    display: block;
    justify-content: center;
    cursor: pointer;
  }

  .nav-list {
    justify-content: center;
    text-align: center;
    max-width: 100%;
    display: none;
  }

  .nav-list a {
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0 30px 0px 0;
    margin-bottom: 50px;
  }

  #hamburger-menu:checked + .nav-list {
    display: block;
  }
}
