/* NAVIGATION */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, sans serif;
}

body {
  background-color: #f2f2f2;
}

header {
  height: 100px;
  background-color: white;
  padding: 10px 0;
}

.dropdown-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.logo {
  height: 90px;
}

.hamburger-bars {
  font-size: 26px;
  color: #000000;
  line-height: 80px;
}

nav {
  position: absolute;
  background-color: #f2f2f2;
  top: 100px;
  left: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  display: inline-block;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 26px;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #ff8c1a;
  border-bottom: 2px solid #ff8c1a;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav ul {
  max-height: 200px;
  padding: 15px 0;
  transition: all 0, 5s;
}

/* FOOTER */
.footer {
  background-color: #ff8c1a;
  color: #000000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  border-bottom: 2px solid #000000;
}

.footer-information {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 210px;
}

.footer-information a {
  text-decoration: none;
  color: #000000;
  font-size: 26px;
  margin: 8px 0 8px 0;
}

.footer-information a:hover {
  color: #ffffff;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
}

.contact-text {
  margin: 8px 0 8px 0;
  font-size: 18px;
}

.social-media {
  margin: 15px 210px 15px 0;
  font-size: 36px;
}

.fa-facebook-square,
.fa-instagram {
  margin: 8px 0 8px 0;
}

@media only screen and (min-width: 768px) {
  .hamburger-bars {
    display: none;
  }

  nav {
    position: relative;
    top: -10px;
    background-color: white;
  }

  nav ul {
    max-height: 100px;
    padding: 15px 0;
    text-align: right;
  }

  nav ul li {
    display: inline-flex;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
