:root {
  --orange: #ff8c1a;
  --green: #23763a;
  --black: #000000;
  --white: #ffffff;
  --grey: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, sans serif;
}

body {
  background-color: var(--grey);
}

/* NAVIGATION */
header {
  height: 100px;
  background-color: var(--white);
  padding: 10px 0;
}

.dropdown-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.logo {
  height: 90px;
}

.hamburger-bars {
  font-size: 26px;
  color: var(--black);
  line-height: 80px;
}

nav {
  position: absolute;
  background-color: var(--grey);
  top: 100px;
  left: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  display: inline-block;
  padding: 12px;
  color: var(--black);
  text-decoration: none;
  font-size: 26px;
}

nav ul li a:hover {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav ul {
  max-height: 200px;
  padding: 15px 0;
}

/* Breadcrumb Navigation */
ul.breadcrumbs {
  margin: 20px;
}

ul.breadcrumbs li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumbs li + li:before {
  padding: 5px;
  color: var(--orange);
  content: "/";
}

ul.breadcrumbs li a {
  color: var(--orange);
  text-decoration: none;
}

ul.breadcrumbs li a:hover {
  text-decoration: underline;
}

.breadcrumbs li:last-child {
  font-weight: bold;
  color: var(--black);
}

/* HEADER ALL PAGES */
h1 {
  text-align: center;
  margin: 30px;
  font-size: 36px;
  font-weight: bold;
  color: var(--green);
}

/* BACK BUTTON ALL PAGES*/
.btn-back {
  background-color: transparent;
  border: none;
  font-size: 48px;
  color: var(--green);
  margin: 0 0 10px 15px;
  padding: 5px;
  cursor: pointer;
}

.btn-back:hover {
  color: var(--orange);
}

/* FOOTER */
.footer-ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: var(--orange);
  color: #000000;
  line-height: 24px;
}

footer li {
  padding-bottom: 8px;
}

footer a {
  text-decoration: none;
  color: var(--black);
  font-size: 20px;
}

footer a:hover {
  color: var(--white);
  text-decoration: underline;
}

h3 {
  color: var(--black);
  font-family: helvetica, sans-serif;
  font-size: 26px;
  padding-bottom: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer-container {
  flex: 1;
}

.footer-all {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}

.footer-information {
  padding: 20px;
  min-width: 200px;
}

.fa-facebook-square,
.fa-instagram {
  font-size: 36px;
}

@media only screen and (min-width: 768px) {
  .hamburger-bars {
    display: none;
  }

  nav {
    position: relative;
    top: -10px;
    background-color: var(--white);
  }

  nav ul {
    max-height: 100px;
    padding: 15px 0;
    text-align: right;
  }

  nav ul li {
    display: inline-flex;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-all {
    justify-content: space-evenly;
  }
}
