.support-grid {
  display: grid;
  max-width: 100%;
}

.support-img,
.support-p {
  margin: 10px;
}

.support-pp {
  margin-bottom: 20px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .support-grid {
    grid-template-columns: 40% 25%;
    justify-content: center;
    margin-bottom: 50px;
  }
}
